@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* box-sizing est appliqué à tous les éléments */
}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 100%;
}

h1, h2, h3, p, a {
  text-decoration: none;
  color: black;
  border: none;
}

h1 {
  font-family: 'Shrikhand';
  font-size: 1.7rem;
}

h2 {
  margin-left: 1rem;
}

h3 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

p {
  margin: 0;
}

.light {
  font-weight: 300;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.logo {
  width: 10rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

article {
  background-color: white;
  border-radius: 18px;
  -webkit-box-shadow: 4px 4px 15px #b9b9b9;
          box-shadow: 4px 4px 15px #b9b9b9;
  margin: 1rem;
}

@media (min-width: 750px) and (max-width: 991px) {
  .responsive-modifier {
    max-width: 43.5rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .responsive-modifier {
    max-width: 43.5rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1400px) {
  .responsive-modifier {
    max-width: 43.5rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1__lieu {
  border-top: solid lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #eaeaea;
  font-weight: 700;
  padding: 1rem;
  color: #353535;
}

.section1__lieu > p {
  color: #353535;
  margin-left: 1.5rem;
}

.section1__reservation {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  padding-top: 2rem;
  background-color: #f6f6f6;
}

.section1__reservation--titre {
  font-family: 'Roboto';
  font-weight: 900;
}

.section1__reservation > p {
  color: #353535;
  font-weight: 300;
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section1 {
    width: 75%;
    margin: auto;
    -webkit-box-shadow: 4px 4px 15px #b9b9b9;
            box-shadow: 4px 4px 15px #b9b9b9;
    border-radius: 18px;
  }
}

@media (min-width: 1400px) {
  .section1 {
    width: 80%;
    margin: auto;
    -webkit-box-shadow: 4px 4px 15px #b9b9b9;
            box-shadow: 4px 4px 15px #b9b9b9;
    border-radius: 18px;
  }
}

@media (min-width: 750px) and (max-width: 991px) {
  .section1__fonctionnement {
    width: 70%;
    margin: auto;
  }
  .section1__fonctionnement > h2 {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section1__fonctionnement {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .section1__fonctionnement > h2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    text-align: center;
    margin: 0;
  }
}

@media (min-width: 1400px) {
  .section1__fonctionnement {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
  }
  .section1__fonctionnement > h2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    text-align: center;
    margin: 0;
  }
}

.section2 {
  margin-top: 5rem;
  background-color: #f6f6f6;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}

@media (min-width: 750px) and (max-width: 991px) {
  .section2 > h2 {
    text-align: center;
  }
  .section2 > div {
    width: 70%;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section2 {
    -webkit-box-shadow: 4px 4px 15px #b9b9b9;
            box-shadow: 4px 4px 15px #b9b9b9;
    border-radius: 18px;
    width: 75%;
    margin: auto;
  }
  .section2 > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .section2 {
    -webkit-box-shadow: 4px 4px 15px #b9b9b9;
            box-shadow: 4px 4px 15px #b9b9b9;
    border-radius: 18px;
    width: 80%;
    margin: auto;
  }
  .section2 > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  padding: 2rem 2rem 1.4rem 2rem;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media (min-width: 750px) and (max-width: 991px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .footer {
    border-radius: 20px 20px 0 0;
    width: 80%;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1400px) {
  .footer {
    border-radius: 20px 20px 0 0;
    width: 80%;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__ligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__ligne .fa-hands-helping {
  font-size: 11px;
}

.footer__logo {
  font-family: 'Shrikhand';
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.footer a, .footer p {
  color: white;
  font-weight: 500;
}

.footer a {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.footer a > p {
  margin-left: 1rem;
}

@media (min-width: 992px) and (max-width: 1399px) {
  .footer a > p {
    margin-left: 0.2rem;
  }
}

.bouton-fonctionnement {
  width: 86%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.1rem;
  -webkit-box-shadow: 4px 4px 15px #b9b9b9;
          box-shadow: 4px 4px 15px #b9b9b9;
  background-color: #f6f6f6;
  border-radius: 18px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
}

@media (min-width: 750px) and (max-width: 991px) {
  .bouton-fonctionnement {
    max-width: 30rem;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .bouton-fonctionnement {
    padding: 0.4rem 0 0.4rem 0;
    -ms-grid-row: 2;
        grid-row-start: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1400px) {
  .bouton-fonctionnement {
    -ms-grid-row: 2;
        grid-row-start: 2;
    max-width: 20rem;
  }
}

.bouton-fonctionnement__rond {
  background-color: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.3rem;
  margin-left: -0.7rem;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (min-width: 992px) and (max-width: 1399px) {
  .bouton-fonctionnement__rond {
    margin: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.bouton-fonctionnement__typo {
  font-weight: 700;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.bouton-fonctionnement__icone {
  color: grey;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

@media (min-width: 992px) and (max-width: 1399px) {
  .bouton-fonctionnement__icone {
    font-size: 1.6rem;
  }
}

button {
  background: linear-gradient(150deg, #FF79DA, #9356DC);
  border-style: none;
  border-radius: 45px;
  color: white;
  -webkit-box-shadow: 4px 4px 15px #b9b9b9;
          box-shadow: 4px 4px 15px #b9b9b9;
  padding: 1rem 1.3rem 1rem 1.3rem;
  margin-top: 2rem;
}

button .button-text {
  color: white;
}

.section2__article {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2.3fr 1fr;
      grid-template-rows: 2.3fr 1fr;
}

.section2__article--img {
  max-height: 5rem;
  min-height: 100%;
  border-radius: 15px 15px 0 0;
}

.section2__article .fa-heart {
  font-size: 1.8rem;
}

.section2__article .far {
  color: grey;
}

.section2__article .fas {
  display: none;
}

.section2__article__nouveau {
  position: absolute;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #99E2D0;
  margin: 1rem;
  border-radius: 2px;
}

.section2__article__nouveau > p {
  margin: 0.4rem 0.8rem 0.4rem 0.8rem;
  font-weight: 700;
  color: #217460;
}

.article-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.3rem 1rem 0.8rem;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .logo {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

header > a {
  color: #353535;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.section3 {
  background-color: #f6f6f6;
  padding-bottom: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 2rem;
}

.section3 > button {
  width: 40%;
  max-width: 20rem;
  margin: auto;
}

.section3 > button > p {
  font-weight: 700;
}

.section3__entete {
  position: absolute;
  background-color: #f6f6f6;
  width: 100%;
  padding: 1.5rem;
  padding-bottom: 0rem;
  margin-top: -4rem;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3__entete .fa-heart {
  font-size: 1.8rem;
}

.section3__entete .far {
  color: grey;
}

.section3__entete .fas {
  display: none;
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section3__entete {
    width: 75%;
    margin: auto;
    margin-top: -4rem;
  }
}

@media (min-width: 1400px) {
  .section3__entete {
    width: 80%;
    margin: auto;
    margin-top: -4rem;
  }
}

.section3__liste__titre {
  margin-top: 3.5rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.section3__liste__titre > span {
  padding-bottom: 0.2rem;
  border-bottom: 3px solid #99E2D0;
}

@media (min-width: 750px) and (max-width: 991px) {
  .section3__liste__titre {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section3__liste__titre {
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .section3__liste__titre {
    text-align: center;
  }
}

.section3__liste__article {
  padding: 0.7rem;
  padding-right: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section3__liste__article > p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 700;
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section3 {
    width: 75%;
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .section3 {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .entete-img {
    height: 650px;
  }
}

@media (min-width: 1400px) {
  .entete-img {
    height: 650px;
  }
}
/*# sourceMappingURL=main.css.map */