@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* box-sizing est appliqué à tous les éléments */
}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 100%;
}

h1, h2, h3, p, a {
  text-decoration: none;
  color: black;
  border: none;
}

h1 {
  font-family: 'Shrikhand';
  font-size: 1.7rem;
}

p {
  margin: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.logo {
  width: 10rem;
  margin-top: 1rem;
}

article {
  background-color: white;
  border-radius: 18px;
  -webkit-box-shadow: 4px 4px 15px #b9b9b9;
          box-shadow: 4px 4px 15px #b9b9b9;
  margin: 1rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1__lieu {
  border-top: solid lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  margin-top: 0.8rem;
  font-weight: 700;
  padding: 1rem;
  color: #353535;
}

.section1__lieu > p {
  color: #353535;
}

.section1__reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  padding-top: 2rem;
  background-color: #f6f6f6;
}

.section1__reservation--titre {
  font-family: 'Roboto';
  font-weight: 900;
}

.section1__reservation > p {
  color: #353535;
  font-weight: 300;
}

.section2 {
  background-color: #f6f6f6;
  padding-bottom: 4rem;
}

.footer {
  padding: 2rem;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.footer__ligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  font-family: 'Shrikhand';
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.footer a, .footer p {
  color: white;
  font-weight: 700;
}

.footer a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer a > p {
  margin-left: 1rem;
}

.bouton-fonctionnement {
  width: 86%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.1rem;
  -webkit-box-shadow: 4px 4px 15px #b9b9b9;
          box-shadow: 4px 4px 15px #b9b9b9;
  background-color: #f6f6f6;
  border-radius: 18px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.bouton-fonctionnement__rond {
  background-color: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.3rem;
  margin-left: -0.7rem;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.bouton-fonctionnement__typo {
  font-weight: 700;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.bouton-fonctionnement__icone {
  color: grey;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

button {
  background: linear-gradient(150deg, #FF79DA, #9356DC);
  border-style: none;
  border-radius: 45px;
  color: white;
  -webkit-box-shadow: 4px 4px 15px #b9b9b9;
          box-shadow: 4px 4px 15px #b9b9b9;
  padding: 1rem 1.3rem 1rem 1.3rem;
  margin-top: 2rem;
}

button .button-text {
  color: white;
}

.section2__article {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2.3fr 1fr;
      grid-template-rows: 2.3fr 1fr;
}

.section2__article--img {
  max-height: 5rem;
  min-height: 100%;
  border-radius: 15px 15px 0 0;
}

.section2__article__nouveau {
  position: absolute;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #99E2D0;
  margin: 1rem;
  border-radius: 2px;
}

.section2__article__nouveau > p {
  margin: 0.4rem 0.8rem 0.4rem 0.8rem;
  font-weight: 700;
  color: #217460;
}

.article-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */