@charset "UTF-8";
@-webkit-keyframes loading-plat {
  0% {
    -webkit-transform: translateY(8vh);
            transform: translateY(8vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes loading-plat {
  0% {
    -webkit-transform: translateY(8vh);
            transform: translateY(8vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes rotationIcone {
  0% {
    -webkit-transform: rotate(-230deg);
            transform: rotate(-230deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotationIcone {
  0% {
    -webkit-transform: rotate(-230deg);
            transform: rotate(-230deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rebondi {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@keyframes rebondi {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* box-sizing est appliqué à tous les éléments */
}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 100%;
}

h1, h2, h3, p, a {
  text-decoration: none;
  color: black;
  border: none;
}

h1 {
  font-family: 'Shrikhand';
  font-size: 1.7rem;
}

h2 {
  margin-left: 1rem;
}

h3 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

p {
  margin: 0;
}

.light {
  font-weight: 300;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.logo {
  width: 10rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

article {
  background-color: white;
  border-radius: 18px;
  -webkit-box-shadow: 4px 4px 15px #b9b9b9;
          box-shadow: 4px 4px 15px #b9b9b9;
  margin: 1rem;
}

.responsive-modifier {
  -webkit-animation: loading-plat 500ms ease-out backwards;
          animation: loading-plat 500ms ease-out backwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow: hidden;
}

.responsive-modifier--load1 {
  -webkit-animation-delay: 160ms;
          animation-delay: 160ms;
}

.responsive-modifier--load2 {
  -webkit-animation-delay: 320ms;
          animation-delay: 320ms;
}

.responsive-modifier--load3 {
  -webkit-animation-delay: 480ms;
          animation-delay: 480ms;
}

.responsive-modifier--load4 {
  -webkit-animation-delay: 640ms;
          animation-delay: 640ms;
}

.responsive-modifier--load5 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.responsive-modifier--load6 {
  -webkit-animation-delay: 960ms;
          animation-delay: 960ms;
}

.responsive-modifier--load7 {
  -webkit-animation-delay: 1120ms;
          animation-delay: 1120ms;
}

.responsive-modifier--load8 {
  -webkit-animation-delay: 1280ms;
          animation-delay: 1280ms;
}

.responsive-modifier--load9 {
  -webkit-animation-delay: 1440ms;
          animation-delay: 1440ms;
}

.responsive-modifier--load10 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

@media (min-width: 750px) and (max-width: 991px) {
  .responsive-modifier {
    max-width: 43.5rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .responsive-modifier {
    max-width: 43.5rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1400px) {
  .responsive-modifier {
    max-width: 43.5rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.responsive-modifier:hover .section3__liste__article--actif {
  margin-right: 0rem;
}

.responsive-modifier:hover .fa-check-circle {
  -webkit-animation: rotationIcone 300ms 100ms;
          animation: rotationIcone 300ms 100ms;
}

.responsive-modifier:hover .section3__liste__article > p {
  padding-left: 0.4rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1__lieu {
  border-top: solid lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #eaeaea;
  font-weight: 700;
  padding: 1rem;
  color: #353535;
}

.section1__lieu > p {
  color: #353535;
  margin-left: 1.5rem;
}

.section1__reservation {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  padding-top: 2rem;
  background-color: #f6f6f6;
}

.section1__reservation--titre {
  font-family: 'Roboto';
  font-weight: 900;
}

.section1__reservation > p {
  color: #353535;
  font-weight: 300;
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section1 {
    width: 75%;
    margin: auto;
    -webkit-box-shadow: 4px 4px 15px #b9b9b9;
            box-shadow: 4px 4px 15px #b9b9b9;
    border-radius: 18px;
  }
}

@media (min-width: 1400px) {
  .section1 {
    width: 80%;
    margin: auto;
    -webkit-box-shadow: 4px 4px 15px #b9b9b9;
            box-shadow: 4px 4px 15px #b9b9b9;
    border-radius: 18px;
  }
}

@media (min-width: 750px) and (max-width: 991px) {
  .section1__fonctionnement {
    width: 70%;
    margin: auto;
  }
  .section1__fonctionnement > h2 {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section1__fonctionnement {
    width: 70%;
    margin: auto;
  }
  .section1__fonctionnement > h2 {
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .section1__fonctionnement {
    width: 70%;
    margin: auto;
  }
  .section1__fonctionnement > h2 {
    text-align: center;
  }
}

.section2 {
  margin-top: 5rem;
  background-color: #f6f6f6;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}

@media (min-width: 750px) and (max-width: 991px) {
  .section2 > h2 {
    text-align: center;
  }
  .section2 > div {
    width: 70%;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section2 {
    -webkit-box-shadow: 4px 4px 15px #b9b9b9;
            box-shadow: 4px 4px 15px #b9b9b9;
    border-radius: 18px;
    width: 75%;
    margin: auto;
  }
  .section2 > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .section2 {
    -webkit-box-shadow: 4px 4px 15px #b9b9b9;
            box-shadow: 4px 4px 15px #b9b9b9;
    border-radius: 18px;
    width: 80%;
    margin: auto;
  }
  .section2 > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  padding: 2rem 2rem 1.4rem 2rem;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media (min-width: 750px) and (max-width: 991px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .footer {
    border-radius: 20px 20px 0 0;
    width: 80%;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1400px) {
  .footer {
    border-radius: 20px 20px 0 0;
    width: 80%;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__ligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__ligne .fa-hands-helping {
  font-size: 11px;
}

.footer__logo {
  font-family: 'Shrikhand';
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.footer a, .footer p {
  color: white;
  font-weight: 500;
}

.footer a {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.footer a > p {
  margin-left: 1rem;
}

@media (min-width: 992px) and (max-width: 1399px) {
  .footer a > p {
    margin-left: 0.2rem;
  }
}

.bouton-fonctionnement {
  width: 86%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.1rem;
  -webkit-box-shadow: 4px 4px 15px #b9b9b9;
          box-shadow: 4px 4px 15px #b9b9b9;
  background-color: #f6f6f6;
  border-radius: 18px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
}

@media (min-width: 750px) and (max-width: 991px) {
  .bouton-fonctionnement {
    max-width: 25rem;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .bouton-fonctionnement {
    max-width: 25rem;
  }
}

@media (min-width: 1400px) {
  .bouton-fonctionnement {
    max-width: 25rem;
  }
}

.bouton-fonctionnement__rond {
  background-color: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.3rem;
  margin-left: -0.7rem;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.bouton-fonctionnement__typo {
  font-weight: 700;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.bouton-fonctionnement__icone {
  color: grey;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.bouton-fonctionnement:hover {
  cursor: pointer;
  background: white;
  -webkit-animation: rebondi 100ms ease-in-out;
          animation: rebondi 100ms ease-in-out;
  -webkit-box-shadow: 2px 2px 8px #1f1f1f;
          box-shadow: 2px 2px 8px #1f1f1f;
}

button {
  background: linear-gradient(150deg, #FF79DA, #9356DC);
  border-style: none;
  border-radius: 45px;
  color: white;
  -webkit-box-shadow: 4px 4px 15px #b9b9b9;
          box-shadow: 4px 4px 15px #b9b9b9;
  padding: 1rem 1.3rem 1rem 1.3rem;
  margin-top: 2rem;
}

button .button-text {
  color: white;
}

button:hover {
  cursor: pointer;
  -webkit-animation: rebondi 100ms ease-in-out;
          animation: rebondi 100ms ease-in-out;
  -webkit-box-shadow: 2px 2px 8px #1f1f1f;
          box-shadow: 2px 2px 8px #1f1f1f;
}

.section2__article {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2.3fr 1fr;
      grid-template-rows: 2.3fr 1fr;
}

.section2__article--img {
  max-height: 5rem;
  min-height: 100%;
  border-radius: 15px 15px 0 0;
}

.section2__article__nouveau {
  position: absolute;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #99E2D0;
  margin: 1rem;
  border-radius: 2px;
}

.section2__article__nouveau > p {
  margin: 0.4rem 0.8rem 0.4rem 0.8rem;
  font-weight: 700;
  color: #217460;
}

.article-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.3rem 1rem 0.8rem;
}

.heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.4rem;
}

.heart .fa-heart {
  font-size: 1.8rem;
}

.heart .far {
  position: absolute;
  z-index: 1;
  color: grey;
}

.heart .fas {
  position: absolute;
  z-index: 2;
  background: linear-gradient(150deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

input {
  position: absolute;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

input:checked ~ .far {
  -webkit-transition: 400ms;
  transition: 400ms;
  opacity: 0;
}

input:checked ~ .fas {
  -webkit-transition: 400ms;
  transition: 400ms;
  opacity: 1;
}

input:hover ~ .fas {
  -webkit-transition: 400ms;
  transition: 400ms;
  opacity: 1;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .logo {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

header > a {
  color: #353535;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.section3 {
  background-color: #f6f6f6;
  padding-bottom: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 2rem;
}

.section3 > button {
  width: 40%;
  max-width: 20rem;
  margin: auto;
}

.section3 > button > p {
  font-weight: 700;
}

.section3__entete {
  position: absolute;
  background-color: #f6f6f6;
  width: 100%;
  padding: 1.5rem;
  padding-bottom: 0rem;
  margin-top: -4rem;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section3__entete {
    width: 75%;
    margin: auto;
    margin-top: -4rem;
  }
}

@media (min-width: 1400px) {
  .section3__entete {
    width: 80%;
    margin: auto;
    margin-top: -4rem;
  }
}

.section3__liste__titre {
  margin-top: 3.5rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.section3__liste__titre > span {
  padding-bottom: 0.2rem;
  border-bottom: 3px solid #99E2D0;
}

@media (min-width: 750px) and (max-width: 991px) {
  .section3__liste__titre {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section3__liste__titre {
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .section3__liste__titre {
    text-align: center;
  }
}

.section3__liste__article {
  padding: 0.7rem;
  padding-right: 1.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 1fr;
      grid-template-columns: 8fr 1fr;
  width: 100%;
}

.section3__liste__article > p {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 700;
}

.section3__liste__article > div {
  white-space: nowrap;
  overflow: hidden;
}

.section3__liste__article > div > * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.section3__liste__article--actif {
  background-color: #99E2D0;
  border-radius: 18px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.5rem;
  height: 100%;
  margin-right: -5.5rem;
  -webkit-transition: 240ms ease-in-out;
  transition: 240ms ease-in-out;
}

.section3__liste__article--actif > i {
  font-size: 2rem;
  color: white;
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section3 {
    width: 75%;
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .section3 {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .entete-img {
    height: 650px;
  }
}

@media (min-width: 1400px) {
  .entete-img {
    height: 650px;
  }
}
/*# sourceMappingURL=main.css.map */