.bouton-fonctionnement{
    width: 86%;
    margin: auto;
    display: grid;
    grid-template-columns: (repeat(4, 1fr));
    grid-template-rows: 1fr;
    align-items: center;
    margin-bottom: 1.1rem;
    @include box-shadow;
    @include background-clair;
    @include border-radius;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;

    &__rond{
        background-color: $primary;
        color: white;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.3rem;
        margin-left: -0.7rem;
        grid-row-start: 1;
        grid-column-start: 1;
    }

    &__typo{
        font-weight: 700;
        grid-column-start: 1;
        grid-column-end: 5;
        justify-self: center;
        grid-row-start: 1;
    }

    &__icone{
        color: grey;
        grid-column-start: 1;
        justify-self: center;
        grid-row-start: 1;
    }
}

button{
    background: linear-gradient(150deg, #FF79DA, #9356DC);
    border-style: none;
    border-radius: 45px;
    color: white;
    @include box-shadow;
    padding: 1rem 1.3rem 1rem 1.3rem;
    margin-top: 2rem;
    .button-text{
        color: white;
    }
}

.section2__article{
    height: 100%;
    display: grid;
    grid-template-rows: 2.3fr 1fr;
    &--img{
        max-height: 5rem;
        min-height: 100%;
        border-radius: 15px 15px 0 0;
    }
    .fa-heart{
        font-size: 1.8rem;
    }
    .far{
        color: grey;
    }
    .fas{
        display: none;
    }
    &__nouveau{
        position: absolute;
        justify-self: end;
        background-color: $tertiary;
        margin: 1rem;
        border-radius: 2px;
        &>p{
            margin: 0.4rem 0.8rem 0.4rem 0.8rem;
            font-weight: 700;
            @include darker-tertiary;
        }
    }
}

.article-description{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.3rem 1rem 0.8rem;
}