*{
    font-family: Roboto;
}

img{
    object-fit: cover;
    width: 100%;
}

.logo{
    width: 10rem;
    margin-top: 1rem;
}

article{
    background-color: white;
    @include border-radius;
    @include box-shadow;
    margin: 1rem;
}