* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
}

*{
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 100%;
}

h1, h2, h3, p, a{
    text-decoration: none;
    color: black;
    border: none;
}

h1{
    font-family: 'Shrikhand';
}

img{
    object-fit: cover;
    width: 100%;
}

.logo{
    width: 10rem;
    margin-top: 1rem;
}

article{
    background-color: white;
    @include border-radius;
    @include box-shadow;
    margin: 1rem;
}