header{
    display: grid;
    grid-template-columns: (repeat(4, 1fr));
    align-items: center;
    &>.logo{
        justify-self: center;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
    }
    &>a{
        color: $background-fonce;
        grid-row-start: 1;
        justify-self: center;
        grid-column-start: 1;
    }
}

.section3{
    background-color: $background-color2;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-row-gap: 2rem;
    &>button{
        width: 40%;
        margin: auto;
        &>p{
            font-weight: 700;
        }
    }
    &__entete{
        position: absolute;
        background-color: $background-color2;
        width: 100%;
        padding: 1.5rem;
        padding-bottom: 0rem;
        margin-top: -4rem;
        border-radius: 30px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        .fa-heart{
            font-size: 1.8rem;
        }
        .far{
            color: grey;
        }
        .fas{
            display: none;
        }
    }
    &__liste{
        &__titre{
            margin-top: 3.5rem;
            font-size: 1.1rem;
            font-weight: 300;
            &>span{
                padding-bottom: 0.2rem;
                border-bottom: 3px solid $tertiary;
            }
        }
        &__article{
            padding: 0.7rem;
            padding-right: 1.7rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;
            &>p{
                align-self: flex-end;
                font-weight: 700;
            }
        }
    }
}