header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    &>.logo{
        justify-self: center;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
    }
    &>a{
        color: $background-fonce;
        grid-row-start: 1;
        justify-self: center;
        grid-column-start: 1;
    }
}

.section3{
    background-color: $background-color2;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-row-gap: 2rem;
    &>.button{
        width: 40%;
        max-width: 20rem;
        margin: auto;
        &>p{
            font-weight: 700;
        }
    }
    &__entete{
        position: absolute;
        background-color: $background-color2;
        width: 100%;
        padding: 1.5rem;
        padding-bottom: 0rem;
        margin-top: -4rem;
        border-radius: 30px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        @include desktop-version{
            width: 75%;
            margin: auto;
            margin-top: -4rem;
        }
        @include large-version{
            width: 80%;
            margin: auto;
            margin-top: -4rem;
        }
    }
    &__liste{
        &__titre{
            margin-top: 3.5rem;
            font-size: 1.1rem;
            font-weight: 300;
            &>span{
                padding-bottom: 0.2rem;
                border-bottom: 3px solid $tertiary;
            }
            @include tablet-version{
                text-align: center;
            }
            @include desktop-version{
                text-align: center;
            }
            @include large-version{
                text-align: center;
            }
        }
        &__article{
            padding: 0.7rem;
            padding-right: 1.7rem;
            display: grid;
            grid-template-columns: 8fr 1fr;
            width: 100%;
            &>p{
                justify-self: end;
                align-self: end;
                font-weight: 700;
                padding-left: 0.4rem;
            }
            &>div{
                white-space: nowrap;
                overflow: hidden;
                &>*{
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &--actif{
                background-color: $tertiary;
                @include border-radius;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5.5rem;
                height: 100%;
                margin-right: -5.5rem;
                transition: 240ms ease-in-out;
                &>i{
                    font-size: 2rem;
                    color: white;
                }
            }
        }
    }
    @include desktop-version{
        width: 75%;
        margin: auto;
    }
    @include large-version{
        width: 80%;
        margin: auto;
    }
}

.entete-img{
    @include desktop-version{
        height: 650px;
        }
    @include large-version{
    height: 650px;
    }
}

.responsive-modifier{
    position: relative;
    animation: loading-plat 500ms ease-out backwards;
    @for $i from 1 through $nombre-plat{
        &--load#{$i} {
            animation-delay: $delai-plat * $i;
        }
    }
    @include tablet-version{
        max-width: 43.5rem;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    @include desktop-version{
        max-width: 43.5rem;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    @include large-version{
        max-width: 43.5rem;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    &:hover{
        .section3__liste__article--actif{
            margin-right: 0rem;
        }
        .fa-check-circle{
            animation: rotationIcone 300ms 100ms;
        }
    }
}

.plat-checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
    width: 100%;
    height: 100%;
    &:checked ~ div>.section3__liste__article--actif{
        margin-right: 0rem;
        .fa-check-circle{
            animation: rotationIcone 300ms 100ms;
        }
    }
}