@keyframes loading-plat{
    0%{
        transform: translateY(8vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes rotationIcone{
    0%{
        transform: rotate(-230deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes rebondi{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.02);
    }
}

@keyframes animloader{
    0%{
        transform: translateY(1.4rem);
    }
    100%{
        transform: translateY(-1.4rem);
    }
}

@keyframes visibleLoad{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}