@mixin box-shadow {
    box-shadow: 4px 4px 15px grayscale($color: #b9b9b9);
}

@mixin background-clair {
    background-color: $background-color2;
}

@mixin border-radius {
    border-radius: 18px;
}

@mixin darker-tertiary($color: $tertiary) {
    color: darken($color, $amount: 45%);
}

@mixin tablet-version{
    @media (min-width: $breakpoint-tablet) and (max-width: ($breakpoint-desktop - 1px)){
        @content;
    }
}

@mixin desktop-version{
    @media (min-width: $breakpoint-desktop) and (max-width: ($breakpoint-large - 1px)){
        @content;
    }
}

@mixin large-version{
    @media (min-width: $breakpoint-large){
        @content;
    }
}