@mixin box-shadow {
    box-shadow: 4px 4px 15px grayscale($color: #b9b9b9);
}

@mixin background-clair {
    background-color: $background-color2;
}

@mixin border-radius {
    border-radius: 18px;
}

@mixin darker-tertiary($color: $tertiary) {
    color: darken($color, $amount: 45%);
}