header{
    display: flex;
    justify-content: center;
}

.section1{
    &__lieu{
        border-top: solid lightgrey;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: baseline;
        background-color: $background-color1;
        font-weight: 700;
        padding: 1rem;
        color: $background-fonce;
        &>p{
            color: $background-fonce;
            margin-left: 1.5rem;
        }
    }

    &__reservation{
        margin-bottom: 3rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 3rem;
        padding-top: 2rem;
        @include background-clair;
        &--titre{
            font-family: 'Roboto';
            font-weight: 900;
        }
        &>p{
            color: $background-fonce;
            font-weight: 300;
        }
    }
    @include desktop-version{
        width: 75%;
        margin: auto;
        @include box-shadow;
        @include border-radius;
    }
    @include large-version{
        width: 80%;
        margin: auto;
        @include box-shadow;
        @include border-radius;
    }

    &__fonctionnement{
        @include tablet-version{
            width: 70%;
            margin: auto;
            &>h2{
                text-align: center;
            }
        }
        @include desktop-version{
            width: 70%;
            margin: auto;
            &>h2{
                text-align: center;
            }
        }
        @include large-version{
            width: 70%;
            margin: auto;
            &>h2{
                text-align: center;
            }
        }
    }
}

.section2{
    margin-top: 5rem;
    @include background-clair;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    @include tablet-version{
        &>h2{
            text-align: center;
        }
        &>div{
            width: 70%;
            margin: auto;
        }
    }
    @include desktop-version{
        @include box-shadow;
        @include border-radius;
        width: 75%;
        margin: auto;
        &>div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
    }
    @include large-version{
        @include box-shadow;
        @include border-radius;
        width: 80%;
        margin: auto;
        &>div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        }
    }
}

.footer{
    padding: 2rem 2rem 1.4rem 2rem;
    background-color: $background-fonce;
    display: flex;
    flex-flow: column nowrap;
    @include tablet-version{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include desktop-version{
        border-radius: 20px 20px 0 0;
        width: 80%;
        margin: auto;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    @include large-version{
        border-radius: 20px 20px 0 0;
        width: 80%;
        margin: auto;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-left: 4rem;
        padding-right: 4rem;
        align-items: flex-start;
    }
    &__ligne{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .fa-hands-helping{
            font-size: 11px;
        }
    }
    &__logo{
        font-family: 'Shrikhand';
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    & a, p{
        color: white;
        font-weight: 500;
    }
    & a{
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        &>p{
            margin-left: 1rem;
            @include desktop-version{
                margin-left: 0.2rem;
            }
        }
    }
}